
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 100, 100, 0.75);
    
  }
  
  body {
    background-image: url('image/image.avif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    margin-bottom: 20px;
    background-color: cyan,.075;

    
  }
  
  .form-group {
    margin-bottom: 10px;
    border-color: rgb(226, 128, 9);

  }
  
  label {
    display: block;
    

  }
  
  input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background-color: #d2304e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #5ab5c2;
  }
  